body, html {
    margin: 0;
    padding: 0;
}

body {
  background: url(./Assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100   vh;
  background-position: center;
}
